.img-text {
    margin: 100px 0;

    &__text {
        background-color: $white;
    }

    &__text-wrapper {
        padding: 86px 95px 69px 95px;

        @include media($lg) {
            padding: 60px 30px;
        }
        @include media($xs) {
            padding: 30px 15px;
        }
    }

    &__title {
        margin-bottom: 45px;

        @include media($sm) {
            margin-bottom: 30px;
            font-size: 2rem;
        }
    }

    &__img {
        background-image: url(../images/img.jpg);
        background-size: cover;
        background-position: center;

        @include media($sm) {
            height: 250px;
        }

        @include media($xs) {
            height: 200px;
        }
    }

    &__description {
        margin-bottom: 35px;

        @include media($sm) {
            margin-bottom: 30px;
        }
    }

    &__button {
        text-align: right;
        @include media($sm) {
            text-align: left;
        }
    }
}

.tooltip{
    .tooltip-inner{
        background: $primary!important;
    }
    .arrow{
        &::before{
            border-top-color: $primary!important;
        }
    }
}