html,
body {
    font-size: $font-size--base;
    color: $black;
    line-height: $line-height--base;
    font-weight: font-weight(lighten);
    background-color: $gray;


}

body {
    font-family: $font-family--primary;
    min-width: 320px;
    min-height: 400px;
}

section {
    position: relative;
}