@mixin media($size, $type: max, $dimension: width){
    @if $type=='max' {
      @media all and (#{$type}-#{$dimension}: $size - 1) {
      @content;
      }
    }
    @if $type=='min' {
      @media all and (#{$type}-#{$dimension}: $size) {
        @content;
      }
    }
  }