/// Setting heading styles from headings maps
@for $i from 1 through 6 {

    h#{$i},
    .h#{$i} {
        font-weight: font-weight(bold);
        font-size: heading-size($i);
        line-height: map-get($headings-height, $i);

        a {
            color: currentColor;
            @include hover-focus {
                color: currentColor;
            }
        }
    }
}

.button{
    border-radius: $border-radius;
    display: inline-block;
    text-align: center;
    padding: 10px 43px;
    outline: none;
    line-height: $line-height--base;
    background: none;
    border: none;
    color:$white;
    font-weight: font-weight(bold);
    border-radius: 30px;
    transition: color 0.2s, background-color 0.2s;
    &[disabled],
    &:disabled,
    &.disabled {
        opacity: 0.8;
        cursor: not-allowed;
    }
    &:hover,
    &:focus {
        outline: none;
        background-color: $white;
        color: $primary;
    }

    &--primary{
        background-color: $primary;
        border: 1px solid $primary;
    }
}
