/// Colors
$white: #FFFFFF;
$black: #121212;
$gray: #F0F0F0;

/// Primary color
$primary: #E4C1AE;


/// Primary font
$font-family--primary: 'Roboto', serif;

/// Font weights map
$font-weights: (
lighten: 300,
bold: 700);

/// Font size base
$font-size--base: 16px;

/// Heading sizes map
$heading-sizes: (
1: 5rem,
2: 4rem,
3: 2.625rem,
4: 1.5rem,
5: 1rem,
6: 0.875rem);

/// Headings line heights map
$headings-height: (
1: 1.05em,
2: 1.25em,
3: 1.165em,
4: 1.22em,
5: 1.375em,
6: 1.22em);

$line-height--base: 1.6;
$line-height--sm: 1.2;
$line-height--lg: 2;


/// Breakpoint
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;

